
body
{
	background-color:#061202;
	color:#A6B0C5;
	font-family:arial;
        text-decoration: none;
	
}
.table1
{
	background-color:#26FF00;
	color:#FFFFFF;
	font-family:arial;
	border:1px solid black;
	width:600px;
        text-decoration: none;
}
.table2
{
	background-color:#26FF00;
	color:#FFFFFF;
	width:900px;
	margin-left:auto;
	margin-right:auto;
        text-decoration: none;
}
input,textarea,select
{
	background-color:#B6B3AF;
	border:1px solid grey;
        text-decoration: none;
}	
.button
{
	background-color:#3FB116;
	border:1px solid grey;
        text-decoration: none;
}
.td
{
	height:30px;
	color:white;
	background-color:#061202;
        text-decoration: none;
}
.menu
{
		color:black;
		background-color:yellow;
		width:150px;
		display:block;
		text-decoration:none;
		text-align:center;
		height:25px;
                text-decoration: none;
}
.menu:hover
{
		color:black;
		background-color:orange;
		width:150px;
		display:block;
		text-decoration:none;
		text-align:center;
		height:25px;
                text-decoration: none;
}
